#projects {
  border: 0.5px #ece8e8da solid;
  min-height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.iconetab {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
#avmbtitle {
  color: #2f4050;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}
.servimage {
  width: 100%;
  margin-bottom: 10px;
}
::ng-deep .mat-ink-bar {
  background-color: #18a0db !important;
}
.fiw img {
  width: 100%;
}
.fiw span {
  font-size: 50px;
  color: #3e5479;
}
