<!--<div class=" topnav">
    <div class="container">
    <div class="row h-100 justify-content-center align-items-center mx-auto">
        <div class="col-6 col-md-7 text-center">
            <div class="row">
                <div class="col-12 d-none d-md-block text-center align-content-center" *ngIf = " contact">
                    <a href="mailto:{{ contact.email }}" class="mr-4">                    
                        <fa-icon  [icon]="mail" style="*{color:red}"></fa-icon>
                        {{contact.email}}</a>
                    <a href="tel:+212700095075">                   
                        <fa-icon [icon]="phone"></fa-icon>
                        +212 {{contact.telephone}}</a>
                </div>
                <div class="col-12 d-md-none d-xs-block d-sm-block text-center align-content-center">
                    <div class="row">
                    <div class="col-6  text-center align-content-center">
                        <a href="mailto:shady@mnc.ma">                        
                            <fa-icon [icon]="mail"></fa-icon>
                        </a>
                    </div>
                    <div class="col-6  text-center align-content-center">
                        <a href="tel:+212700095075">
                            <fa-icon [icon]="phone"></fa-icon>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-5 text-center">
            <a href="http://" target="_blank" class="icon-topnav">                   
                <fa-icon [icon]="fb"></fa-icon>
            </a>   
            <a href="http://" target="_blank" class="icon-topnav">                   
                <fa-icon [icon]="insta"></fa-icon>
            </a> 
            <a href="http://" target="_blank" class="icon-topnav">                   
                <fa-icon [icon]="twitter"></fa-icon>
            </a> 
            <a href="http://" target="_blank" class="icon-topnav">                   
                <fa-icon [icon]="youtube"></fa-icon>
            </a> 
            <a href="http://" target="_blank" class="icon-topnav">                   
                <fa-icon [icon]="linkdein"></fa-icon>
            </a>      
        </div>
    </div>
</div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand justify-content-start" style="margin-right: 40px;" routerLink="/"><img src="../../assets/images/logo.png" class=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-4" style="margin-top: 40px; margin-bottom: -25px;" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a routerLink="/" class="nav-link forcklick">{{'navbar.home' | translate}}</a>
            </li>
          
            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'navbar.cluster.title' | translate}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item forcklick" routerLink="/missions">{{'navbar.cluster.mission' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/our-deffinition-of-success">{{'navbar.cluster.succes' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/our-team">{{'navbar.cluster.team' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/our-organization">{{'navbar.cluster.organisation' | translate}}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'navbar.expertise.title' | translate}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item forcklick" routerLink="/our-services">{{'navbar.expertise.services' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/our-projects">{{'navbar.expertise.project' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/our-programs">{{'navbar.expertise.programmes' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/fiware">{{'navbar.expertise.Fiware' | translate}}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{'navbar.partentaires.title' | translate}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="partenaires">
                    <li *ngFor="let p of partenaires"><a class="dropdown-item forcklick" routerLink="/partners" fragment="{{genereurl(p['type_fr'])}}">{{p['partenaires.type' | translate]}}</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'navbar.rejcluster.title' | translate}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item forcklick" routerLink="/why-join-us">{{'navbar.rejcluster.pq' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/contribution">{{'navbar.rejcluster.bc' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/adhesion">{{'navbar.rejcluster.formad' | translate}}</a></li>
                    <li><a class="dropdown-item forcklick" routerLink="/career">{{'navbar.rejcluster.carr' | translate}}</a></li>

                </ul>
            </li>

            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'navbar.actualites.title' | translate}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!--
                    <li><a class="dropdown-item forcklick" routerLink="/blog">{{'navbar.actualites.blog' | translate}}</a></li>

                    "event":"Events",
        "presse":"Press release",
        "blog":"Blog",

        "event":"Evénements",
            "presse":"Autres actions",
            "blog":"Blog",
                -->
                    <li><a class="dropdown-item forcklick" routerLink="/events">{{'navbar.actualites.event' | translate}}</a></li>
                    <!--<li><a class="dropdown-item forcklick" routerLink="/press">{{'navbar.actualites.presse' | translate}}</a></li>-->
                    <li><a class="dropdown-item forcklick" routerLink="/media">{{'navbar.actualites.media' | translate}}</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown ms-4">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'navbar.lang.title' | translate}} : <img src="{{langg}}" style="width: 20px;"></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item forcklick" (click)="this.switchlang('fr')"><img src="../../assets/images/icones/fr.png" style="width: 30px;"></a></li>
                    <li><a class="dropdown-item forcklick" (click)="this.switchlang('en')"><img src="../../assets/images/icones/en.png" style="width: 30px;"></a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex ms-auto">
            <input class="search-input empt" type="search" placeholder="&#xF002;" aria-label="Search"
                        autocomplete="off" (keyup.enter)="search()" id="searchh">
            <a type="button" class="button-lang forcklick ms-2" routerLink="/adhesion">{{'navbar.joinbutton' | translate}}</a>
        </form>
      </div>
    </div>
  </nav>
  
