<app-title [title]="'navbar.expertise.project' | translate"></app-title>
<div class="container" id="projects">
  <mat-tab-group *ngIf="projects"  style="display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;">
        <mat-tab *ngFor="let p of projects">
          <ng-template mat-tab-label >
            <img src="{{service.host+p.icon?.url}}" alt="icon" class="iconetab">
            {{p['projets.titre' | translate]}}
          </ng-template>
          <div class="container mt-3">
            <div class="row justify-content-around">
              <div class="col-md-6 col-12  my-auto ">
                <img src="{{this.service.host+p.image.url}}"  class="servimage">
              </div>
              <div class="col-md-6 col-12 servstl my-auto">
                <h5 id="avmbtitle">       
                  {{p['projets.titre' | translate]}}
                </h5>
                <p>{{p['projets.desc' | translate]}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
  <ngx-spinner
  bdColor="rgba(255, 255, 255, 0.9)"
  size="large"
  color="#18a0db"
  type="ball-clip-rotate-pulse">
  <p style="font-size: 20px; color: #18a0db;margin-top: 50px;">{{'load' | translate}}...</p>
</ngx-spinner>