<div *ngIf="memberProfil">
    <div class="BG">
        <a routerLink="/our-team"><h3 style="color:white">{{'navbar.cluster.team' | translate}}</h3></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center mb-1">
                <div class="col-md-4 mt-3"align="center">
                    <!-- Afficher la photo-->
                    <img style="width: 280px; height: 280px;" [src]="this.service.host + memberProfil.photo?.url" alt="Photo">
                </div>
            </div>
          <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row mt-1">
                    <div class="d-flex">
                      <div class="m-1">
                        <h4><span style="color:#18a0db">{{memberProfil['memberprofil.team_bio' | translate]}} : </span></h4>
                      </div> 
                      <div class=" m-1">
                        <h4><span class="text-dark">{{memberProfil.nom}}</span></h4> 
                      </div>
                      <div class="m-1">
                        <h4><span class="text-dark">{{memberProfil.prenom}}</span></h4> 
                      </div>
                    </div>
                </div>
            </div>
          
             <div class="text-center" *ngIf="memberProfil.linkedin_url">
              <h5>
                <a style="color:#18a0db" [href]="memberProfil.linkedin_url" target="_blank">LinkedIn</a>
              </h5>
             </div>   
                
            <div>
              <div *ngIf="memberProfil['memberprofil.description' | translate]">
                <h3>{{ 'memberprofil.descrip' | translate }}</h3>
                <span class="text-dark" [innerHTML]="memberProfil['memberprofil.description' | translate] | MarkdownToHtml"></span>
              </div>
               <div *ngIf="memberProfil['memberprofil.parcours' | translate]">
                <h3>Parcours:</h3>
                <div [innerHTML]="memberProfil['memberprofil.parcours' | translate] | MarkdownToHtml" id="avstys"></div>
              </div>
            </div>
           
            <!-- Afficher le lien vers LinkedIn 
              *ngIf="memberProfil['memberProfil.video' | translate]"-->
            
          </div>
        </div>
        
        <h3>{{ 'memberprofil.video' | translate }}</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12 box" *ngFor="let video of memberProfil.video" style="width: 350px;" data-aos="fade-up" data-aos-once="true">
            <video [src]="this.service.host + video?.url" type="video/mp4" controls style="width: 100%; height: auto;"></video> 
          </div>
      </div>
        
        <!--
        <h3>{{ 'memberprofil.video' | translate }}</h3>
        <div class="containers">
          <div class="grid-item" *ngFor="let video of memberProfil.video" style="width: 350px;">
                <video [src]="this.service.host + video?.url" type="video/mp4" controls style="width: 100%; height: auto;"></video> 
          </div>
        </div>
           Ajoutez autant d'éléments que nécessaire -->
        
        <!--<div class="">
        <div class="row mt-3">
          <div class="col">
            <div class="mb-3" >
             <h3>{{ 'memberprofil.video' | translate }}</h3>
              <div class="d-flex justify-content-center">
                <div *ngFor="let video of memberProfil.video" class="d-inline-block me-3" style="width: 320px;">
                  <video [src]="this.service.host + video?.url" type="video/mp4" controls style="width: 100%; height: auto;"></video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
</div>