<app-title [title]="'navbar.rejcluster.formad' | translate"></app-title>
<div class="container" id="adhesionn">
  <mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="!isdone && !showcaptcha">
 
    <!-- Form1 --> 
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup"> 
         <div >
           <h2 class="centerForm">{{'adhesionForm.form1.h2' | translate}}</h2>
         </div>
         <div >
           <p>{{'adhesionForm.form1.nom' | translate}} </p>
         </div>
      
       <div class="row">
         <div class="col-md-4 col-xs-12 row" >
         <mat-form-field class="col-md-12 col-xs-12"> 
           <input matInput type="text" placeholder="{{'adhesionForm.form1.nom' | translate}}"  formControlName="Nom_Organisation" required>
           <mat-error *ngIf="firstFormGroup.controls['Nom_Organisation'].hasError('required')">
            {{'adhesionForm.error.msgreq' | translate}}
          </mat-error>
          <mat-error *ngIf="firstFormGroup.controls['Nom_Organisation'].hasError('minlength')">
            {{'adhesionForm.error.msginvalid' | translate}}
          </mat-error>
         </mat-form-field>
       </div>
       </div>
       
         <div >
           <p>{{'adhesionForm.form1.t1' | translate}}</p>
         </div>
         <div class="row">
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput  type="text" placeholder="{{'adhesionForm.form1.nomSponsor' | translate}}"  formControlName="Nom_du_parrain" required>
               <mat-error *ngIf="firstFormGroup.controls['Nom_du_parrain'].hasError('required')">
                {{'adhesionForm.error.msgreq' | translate}}
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['Nom_du_parrain'].hasError('minlength')">
                {{'adhesionForm.error.msginvalid' | translate}}
              </mat-error>
             </mat-form-field>
           </div>
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput type="text" placeholder="{{'adhesionForm.form1.organisation' | translate}}" formControlName="organisation" required>
               <mat-error *ngIf="firstFormGroup.controls['organisation'].hasError('required')">
                {{'adhesionForm.error.msgreq' | translate}}
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['organisation'].hasError('minlength')">
                {{'adhesionForm.error.msginvalid' | translate}}
              </mat-error>
             </mat-form-field>
           </div>
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12 ">
               <input matInput type="text" placeholder="{{'adhesionForm.form1.fonction' | translate}}" formControlName="fonction" required>
               <mat-error *ngIf="firstFormGroup.controls['fonction'].hasError('required')">
                {{'adhesionForm.error.msgreq' | translate}}
              </mat-error>
              <mat-error *ngIf="firstFormGroup.controls['fonction'].hasError('minlength')">
                {{'adhesionForm.error.msginvalid' | translate}}
              </mat-error>
             </mat-form-field>
           </div>
       </div>
         <div class="centerForm">
           <button mat-button matStepperNext >{{'adhesionForm.valid.next' | translate}}</button>
         </div>
       </form>
     </mat-step>
     <!-- Form2 -->
       <mat-step [stepControl]="secondFormGroup">
         <form [formGroup]="secondFormGroup">
           <div class="centerForm">
             <h2>{{'adhesionForm.form2.h2' | translate}}</h2>
           </div>
           <p>{{'adhesionForm.form2.t1' | translate}}</p>
           <div class="row">
             <div class="col-md-4 col-xs-12 row">
               <mat-form-field class="col-md-12 col-xs-12">
                 <input matInput placeholder="{{'adhesionForm.form2.NomPrenom' | translate}}" formControlName="Nom_interlocuteur_principal" required>
                 <mat-error *ngIf="secondFormGroup.controls['Nom_interlocuteur_principal'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                   </mat-error>
                   <mat-error *ngIf="secondFormGroup.controls['Nom_interlocuteur_principal'].hasError('minlength')">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-4 col-xs-12 row">
               <mat-form-field class="col-md-12 col-xs-12 ">
                 <input matInput placeholder="{{'adhesionForm.form2.fonction' | translate}}" formControlName="fonction_interlocuteur_principal"  required>
                 <mat-error *ngIf="secondFormGroup.controls['fonction_interlocuteur_principal'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                   </mat-error>
                   <mat-error *ngIf="secondFormGroup.controls['fonction_interlocuteur_principal'].hasError('minlength')">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
               </mat-form-field>
             </div>
             <div class="col-md-4 col-xs-12 row">
               <mat-form-field class="col-md-12 col-xs-12 ">
                 <input matInput placeholder="{{'adhesionForm.form2.phone' | translate}}" formControlName="phone_interlocuteur_principal" required>
                 <mat-error *ngIf="secondFormGroup.controls['phone_interlocuteur_principal'].hasError('pattern') || secondFormGroup.controls['phone_interlocuteur_principal'].hasError('minlength')" class="alertt">
                   {{'adhesionForm.error.msginvalid' | translate}}
                 </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['phone_interlocuteur_principal'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                   
                 
               </mat-form-field>
             </div>
         </div>
         <div class="row">
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput placeholder="{{'adhesionForm.form2.fax' | translate}}" formControlName="fax_interlocuteur_principal" required>
               <mat-error *ngIf="secondFormGroup.controls['fax_interlocuteur_principal'].hasError('pattern') || secondFormGroup.controls['fax_interlocuteur_principal'].hasError('minlength')" class="alertt">
                 {{'adhesionForm.error.msginvalid' | translate}}
               </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['fax_interlocuteur_principal'].hasError('required')">
                   {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                
               
             </mat-form-field>
           </div>
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput placeholder="{{'adhesionForm.form2.email' | translate}}" formControlName="email_interlocuteur_principal" required>
               <mat-error *ngIf="secondFormGroup.controls['email_interlocuteur_principal'].hasError('pattern') " >
                 {{'adhesionForm.error.msginvalid' | translate}}
               </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['email_interlocuteur_principal'].hasError('required')">
                   {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 
               
             </mat-form-field>
           </div>
         </div>
         <p>{{'adhesionForm.form2.t2' | translate}}</p>
         <div class="row">
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput placeholder="{{'adhesionForm.form2.NomPrenom' | translate}}" formControlName="Nom_responsable_administratif" required>
               <mat-error *ngIf="secondFormGroup.controls['Nom_responsable_administratif'].hasError('required')">
                   {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['Nom_responsable_administratif'].hasError('minlength')">
                   {{'adhesionForm.error.msginvalid' | translate}}
                 </mat-error>
             </mat-form-field>
           </div>
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12 ">
               <input matInput placeholder="{{'adhesionForm.form2.fonction' | translate}}" formControlName="fonction_responsable_administratif"  required>
                <mat-error *ngIf="secondFormGroup.controls['fonction_responsable_administratif'].hasError('required')">
                   {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['fonction_responsable_administratif'].hasError('minlength')">
                   {{'adhesionForm.error.msginvalid' | translate}}
                 </mat-error>
              
             </mat-form-field>
           </div>
           <div class="col-md-4 col-xs-12 row">
             <mat-form-field class="col-md-12 col-xs-12">
               <input matInput placeholder="{{'adhesionForm.form2.phone' | translate}}" formControlName="phone_responsable_administratif" required>
               <mat-error *ngIf="secondFormGroup.controls['phone_responsable_administratif'].hasError('pattern') || secondFormGroup.controls['phone_responsable_administratif'].hasError('minlength')" class="alertt">
                 {{'adhesionForm.error.msginvalid' | translate}}
               </mat-error>
                 <mat-error *ngIf="secondFormGroup.controls['phone_responsable_administratif'].hasError('required')">
                   {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
             
             </mat-form-field>
           </div>
       </div>
       <div class="row">
         <div class="col-md-4 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12 ">
             <input matInput placeholder="{{'adhesionForm.form2.fax' | translate}}" formControlName="fax_responsable_administratif" required>
             <mat-error *ngIf="secondFormGroup.controls['fax_responsable_administratif'].hasError('pattern') || secondFormGroup.controls['fax_responsable_administratif'].hasError('minlength')" class="alertt">
               {{'adhesionForm.error.msginvalid' | translate}}
             </mat-error>
             <mat-error *ngIf="secondFormGroup.controls['fax_responsable_administratif'].hasError('required')">
                 {{'adhesionForm.error.msgreq' | translate}}
             </mat-error>
           
           </mat-form-field>
         </div>
         <div class="col-md-4 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12 ">
             <input matInput placeholder="{{'adhesionForm.form2.email' | translate}}" formControlName="email_responsable_administratif" required>
             <mat-error *ngIf="secondFormGroup.controls['email_responsable_administratif'].hasError('pattern')" class="alertt">
               {{'adhesionForm.error.msginvalid' | translate}}
             </mat-error>
             <mat-error *ngIf="secondFormGroup.controls['email_responsable_administratif'].hasError('required')">
                 {{'adhesionForm.error.msgreq' | translate}}
             </mat-error>
               
             
           </mat-form-field>
         </div>
       </div>
       <p>{{'adhesionForm.form2.t3' | translate}}</p>
       <div class="row">
         <div class="col-md-4 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12 ">
             <input matInput placeholder="{{'adhesionForm.form2.NomPrenom' | translate}}" formControlName="Nom_responsable_legal" required>
             <mat-error *ngIf="secondFormGroup.controls['Nom_responsable_legal'].hasError('required')">
                 {{'adhesionForm.error.msgreq' | translate}}
               </mat-error>
               <mat-error *ngIf="secondFormGroup.controls['Nom_responsable_legal'].hasError('minlength')">
                 {{'adhesionForm.error.msginvalid' | translate}}
               </mat-error>
           
           </mat-form-field>
         </div>
         <div class="col-md-4 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12 ">
             <input matInput placeholder="{{'adhesionForm.form2.fonction' | translate}}" formControlName="fonction_responsable_legal"  required>
             <mat-error *ngIf="secondFormGroup.controls['fonction_responsable_legal'].hasError('required')">
                 {{'adhesionForm.error.msgreq' | translate}}
               </mat-error>
               <mat-error *ngIf="secondFormGroup.controls['fonction_responsable_legal'].hasError('minlength')">
                 {{'adhesionForm.error.msginvalid' | translate}}
               </mat-error>
           </mat-form-field>
         </div>
         <div class="col-lg-4 col-md-4 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12">
             <input matInput placeholder="{{'adhesionForm.form2.phone' | translate}}" formControlName="phone_responsable_legal" required>
             <mat-error *ngIf="secondFormGroup.controls['phone_responsable_legal'].hasError('pattern') || secondFormGroup.controls['phone_responsable_legal'].hasError('minlength')" class="alertt">
               {{'adhesionForm.error.msginvalid' | translate}}
             </mat-error>
               <mat-error *ngIf="secondFormGroup.controls['phone_responsable_legal'].hasError('required')">
                 {{'adhesionForm.error.msgreq' | translate}}
               </mat-error>
               
           
           </mat-form-field>
         </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-xs-12 row">
         <mat-form-field class="col-md-12 col-xs-12">
           <input matInput placeholder="{{'adhesionForm.form2.fax' | translate}}" formControlName="fax_responsable_legal" required>
           <mat-error *ngIf="secondFormGroup.controls['fax_responsable_legal'].hasError('pattern') || secondFormGroup.controls['fax_responsable_legal'].hasError('minlength')" class="alertt">
             {{'adhesionForm.error.msginvalid' | translate}}
           </mat-error>
           <mat-error *ngIf="secondFormGroup.controls['fax_responsable_legal'].hasError('required')">
             {{'adhesionForm.error.msgreq' | translate}}
           </mat-error>
      
 
         </mat-form-field>
       </div>
       <div class="col-md-4 col-xs-12 row">
         <mat-form-field class="col-md-12 col-xs-12">
           <input matInput placeholder="{{'adhesionForm.form2.email' | translate}}" formControlName="email_responsable_legal" required>
           <mat-error *ngIf="secondFormGroup.controls['email_responsable_legal'].hasError('pattern')" class="alertt">
             {{'adhesionForm.error.msginvalid' | translate}}
           </mat-error>
           <mat-error *ngIf="secondFormGroup.controls['email_responsable_legal'].hasError('required')">
             {{'adhesionForm.error.msgreq' | translate}}
           </mat-error>
           
         
         </mat-form-field>
       </div>
     </div>
           <div class="centerForm">
             <button mat-button matStepperPrevious>{{'adhesionForm.valid.back' | translate}}</button>
             <button mat-button matStepperNext (click)="show(secondFormGroup)">{{'adhesionForm.valid.next' | translate}}</button>
           </div>
         </form>
       </mat-step> 
    <!--Form3-->
    <mat-step [stepControl]="thirdFormGroup">
     <div class="container">
       <form [formGroup]="thirdFormGroup">
         <h2 class="centerForm">{{'adhesionForm.Form3.h2' | translate}}</h2>
         <div class="row">
           <div class=" col-md-12 col-xs-12">
             <p>{{'adhesionForm.Form3.t1' | translate}}</p>
           </div>
           <div class=" col-md-12 col-xs-12">
               <mat-radio-group aria-label="Select an option"  formControlName="type_Organisation" >
                 <div class="row">
                   <div class="col-md-4 col-xs-6">
                     <mat-radio-button value="Entreprise TIC">{{'adhesionForm.Form3.org1' | translate}}</mat-radio-button>
                   </div>
                   <div class="col-md-4 col-xs-6">
                     <mat-radio-button value="Association">{{'adhesionForm.Form3.org2' | translate}}</mat-radio-button>
                   </div>
                   <div class="col-md-4 col-xs-6">
                     <mat-radio-button value="Institutionnel">{{'adhesionForm.Form3.org3' | translate}}</mat-radio-button>
                   </div>
                   <div class="col-md-4 col-xs-6">
                     <mat-radio-button value="Institut de recherche">{{'adhesionForm.Form3.org4' | translate}}</mat-radio-button>
                   </div>
                   <div class=" col-md-4 col-xs-6">
                     <mat-radio-button value="Institut d’enseignement">{{'adhesionForm.Form3.org5' | translate}}</mat-radio-button>
                   </div>
                   <div class="col-md-4 col-xs-6">
                     <mat-radio-button value="Autre">{{'adhesionForm.Form3.org6' | translate}}</mat-radio-button>
                   </div>
                 </div>
               
               </mat-radio-group>
               <div class="col-md-12 col-xs-12">
                 <div class="row">
                   <div class="col-md-4 col-xs-12" >
                     <p>
                       {{'adhesionForm.Form3.t2' | translate}} 
                     </p>
                   </div>
                   <div class="col-md-4 col-xs-12">
                     <mat-form-field   (change)="onChange()">
                       <input matInput placeholder="{{'adhesionForm.Form3.specifier' | translate}}"  formControlName="autre" [required]="other">
                       <mat-error *ngIf="other">
                         {{'adhesionForm.error.msginvalid' | translate}}
                       </mat-error>
                     </mat-form-field>
                   </div>
                 </div>
               </div>
               <br>
           </div>
           <div class="col-md-12 col-xs-12 row">
             <p>{{'adhesionForm.Form3.t3' | translate}}</p>
           </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class=" col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.adresse' | translate}}" formControlName="adresse" required>
                     <mat-error *ngIf="thirdFormGroup.controls['adresse'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['adresse'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.code' | translate}}"  formControlName="code_Postal" required>
                     <mat-error *ngIf="thirdFormGroup.controls['code_Postal'].hasError('pattern') || thirdFormGroup.controls['code_Postal'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['code_Postal'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                   
                   </mat-form-field>
                 </div>
                 <div class=" col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.ville' | translate}}" formControlName="ville" required>
                     <mat-error *ngIf="thirdFormGroup.controls['ville'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['ville'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.lien' | translate}}"  formControlName="lien_Web" required>
                     <mat-error *ngIf="thirdFormGroup.controls['lien_Web'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['lien_Web'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.creation' | translate}}" formControlName="annee_de_Creation" required>
                     <mat-error *ngIf="thirdFormGroup.controls['annee_de_Creation'].hasError('pattern') || thirdFormGroup.controls['annee_de_Creation'].hasError('minlength')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['annee_de_Creation'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
  
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.effectif' | translate}}" formControlName="effectif" required>
                     <mat-error *ngIf="thirdFormGroup.controls['effectif'].hasError('required') || thirdFormGroup.controls['effectif'].hasError('minlength')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['effectif'].hasError('pattern')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   
                    
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.capital' | translate}}" formControlName="Capital" required>
                     <mat-error *ngIf="thirdFormGroup.controls['Capital'].hasError('required')|| thirdFormGroup.controls['Capital'].hasError('minlength')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['Capital'].hasError('pattern')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   
                   </mat-form-field>
                 </div> 
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.formelegal' | translate}}" formControlName="forme_juridique" required>
                     <mat-error *ngIf="thirdFormGroup.controls['forme_juridique'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['forme_juridique'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                     
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.registreC' | translate}}" formControlName="registre_de_commerce" required>
                     <mat-error *ngIf="thirdFormGroup.controls['registre_de_commerce'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['registre_de_commerce'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                     
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.patente' | translate}}" formControlName="Numero_Patente" required>
                     <mat-error *ngIf="thirdFormGroup.controls['Numero_Patente'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['Numero_Patente'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                     
                   </mat-form-field>
                 </div>
                 <div class="col-md-4 col-xs-12 row ">
                   <mat-form-field class="col-md-12 col-xs-12">
                     <input matInput placeholder="{{'adhesionForm.Form3.idFiscal' | translate}}" maxlength="20" formControlName="identifiant_Fiscal" required>
                     <mat-error *ngIf="thirdFormGroup.controls['identifiant_Fiscal'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['identifiant_Fiscal'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   </mat-form-field>
                 <br>
               </div>
                 <div class="col-md-12 col-xs-12 ">
                   <p>{{'adhesionForm.Form3.t4' | translate}}</p>
                 </div>
                 <div class="col-md-12 col-xs-12 ">
                   <mat-form-field style="width: 90%" appearance="outline" >
                     <textarea matInput formControlName="activite" maxlength="1000" rows="8" placeholder="{{'adhesionForm.Form3.activite' | translate}}"></textarea>
                     <mat-error *ngIf="thirdFormGroup.controls['activite'].hasError('required')">
                       {{'adhesionForm.error.msgreq' | translate}}
                     </mat-error>
                     <mat-error *ngIf="thirdFormGroup.controls['activite'].hasError('minlength')">
                       {{'adhesionForm.error.msginvalid' | translate}}
                     </mat-error>
                   </mat-form-field>
                 </div>
                 
                   <div class=" col-md-12 col-xs-12">
                     <p>
                       {{'adhesionForm.Form3.t5' | translate}}
                     </p>
                   </div>
                   <div class="col-md-12 col-xs-12 row">
                     <mat-radio-group aria-label="Select an option" formControlName="autorisation">
                         <mat-radio-button class="col-md-6" value="oui">{{'adhesionForm.Form3.oui' | translate}}</mat-radio-button>
                         <mat-radio-button class="col-md-6 " value="non">{{'adhesionForm.Form3.non' | translate}}</mat-radio-button>
                     </mat-radio-group>
                   </div>
        
           </div>
         <div class="centerForm">
           <button mat-button matStepperPrevious>{{'adhesionForm.valid.back' | translate}}</button>
           <button mat-button matStepperNext (click)="show(thirdFormGroup)">{{'adhesionForm.valid.next' | translate}}</button>
         </div>
       </form>
 
     </div>
   </mat-step>
   <!--Form4-->
     <mat-step [stepControl]="fourthFormGroup">
       <form [formGroup]="fourthFormGroup">
         <h2 class="centerForm">{{'adhesionForm.Form4.h2' | translate}}</h2>
         <div class="row">
           <div class="col-lg-12 col-md-12 col-xs-12">
             <p>{{'adhesionForm.Form4.t1' | translate}}</p>
             <br><br>
               <div class="row">
                 <div class=" col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(0)">{{'adhesionForm.Form4.theme1' | translate}}</mat-checkbox>
                 </div>
                 <div class="col-lg-4 col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(1)">{{'adhesionForm.Form4.theme2' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(2)">{{'adhesionForm.Form4.theme3' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(3)">{{'adhesionForm.Form4.theme4' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(4)">{{'adhesionForm.Form4.theme5' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(5)">{{'adhesionForm.Form4.theme6' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(6)">{{'adhesionForm.Form4.theme7' | translate}}</mat-checkbox>
                 </div>
                 <div class="  col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(7)">{{'adhesionForm.Form4.theme8' | translate}}</mat-checkbox>
                 </div>
                 <div class="col-lg-4 col-md-4 col-xs-6">
                   <mat-checkbox (click)="checkItem(8)">{{'adhesionForm.Form4.theme9' | translate}}</mat-checkbox>
                 </div>
               </div>
             <br>
         </div>
         <div class="col-lg-12 col-md-12 col-xs-12">
           <p>{{'adhesionForm.Form4.attenteMNC' | translate}}</p>
         </div>
         <div class="col-md-12 col-xs-12">
           <mat-form-field style="width: 90%" appearance="outline" >
             <textarea matInput formControlName="attente_vis_à_vis_de_MNC" rows="8" placeholder="{{'adhesionForm.Form4.attente' | translate}}"></textarea>
           
           <mat-error *ngIf="fourthFormGroup.controls['attente_vis_à_vis_de_MNC'].hasError('minlength') || fourthFormGroup.controls['attente_vis_à_vis_de_MNC'].hasError('maxlength')">
                     {{'adhesionForm.error.msginvalid' | translate}}
           </mat-error>
           <mat-error *ngIf="fourthFormGroup.controls['attente_vis_à_vis_de_MNC'].hasError('required')">
             {{'adhesionForm.error.msgreq' | translate}}
     </mat-error>
       </mat-form-field>
         </div>
         </div>
         
         <div class="centerForm">
           <button mat-button matStepperPrevious (click) = "getThematiques()">{{'adhesionForm.valid.back' | translate}}</button>
           <button mat-button matStepperNext (click) = "getThematiques();show(fourthFormGroup);">{{'adhesionForm.valid.next' | translate}}</button>
         </div>
       </form>
     </mat-step> 
     <!-- Form5 -->
     <mat-step [stepControl]="fifthFormGroup">
       <form [formGroup]="fifthFormGroup" (change)="onChange2()" >
         <h2>{{'adhesionForm.Form5.h2' | translate}}</h2>
         <p>{{'adhesionForm.Form5.t1' | translate}}</p>
         <table class="table table-striped">
           <thead>
             <tr>
               <th scope="col">{{'adhesionForm.Form5.cotisation' | translate}}</th>
               <th scope="col">{{'adhesionForm.Form5.montant' | translate}} </th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>{{'adhesionForm.Form5.cotisation1' | translate}}</td>
               <td>
                 <mat-form-field >
                   <input matInput type = "number" min="0" placeholder="" formControlName="cotisation" required>
                   <mat-error *ngIf="fifthFormGroup.controls['cotisation'].hasError('pattern') ">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
                   <mat-error *ngIf="fifthFormGroup.controls['cotisation'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>{{'adhesionForm.Form5.cotisation2' | translate}}</td>
               <td>
                 <mat-form-field>
                   <input matInput type = "number" min="0" placeholder="" formControlName="cotisation_Soutien" required>
                   <mat-error *ngIf="fifthFormGroup.controls['cotisation_Soutien'].hasError('pattern') ">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
                   <mat-error *ngIf="fifthFormGroup.controls['cotisation_Soutien'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>{{'adhesionForm.Form5.cotisation3' | translate}}</td>
               <td>
                 <mat-form-field >
                   <input matInput type = "number" min="0" placeholder="" formControlName="Avance" required>
                   <mat-error *ngIf="fifthFormGroup.controls['Avance'].hasError('pattern') ">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
                   <mat-error *ngIf="fifthFormGroup.controls['Avance'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>{{'adhesionForm.Form5.cotisation4' | translate}}</td>
               <td>
                 <mat-form-field >
                   <input matInput type = "number" min="0" placeholder="" formControlName="avance_Soutien" required>
                   <mat-error *ngIf="fifthFormGroup.controls['avance_Soutien'].hasError('pattern') ">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
                   <mat-error *ngIf="fifthFormGroup.controls['avance_Soutien'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>{{'adhesionForm.Form5.cotisation5' | translate}}</td>
               <td>
                 <mat-form-field>
                   <input matInput  type = "number" placeholder="" formControlName="don_supplémentaire" required>
                   <mat-error *ngIf="fifthFormGroup.controls['don_supplémentaire'].hasError('pattern') ">
                     {{'adhesionForm.error.msginvalid' | translate}}
                   </mat-error>
                   <mat-error *ngIf="fifthFormGroup.controls['don_supplémentaire'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                 </mat-error>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td >TOTAL</td>
               <td>{{montant}}</td>
             </tr>
           </tbody>
         </table>            
         <div  class="centerForm">
           <button mat-button matStepperPrevious>{{'adhesionForm.valid.back' | translate}}</button>
           <button mat-button matStepperNext (click)="show(fifthFormGroup)">{{'adhesionForm.valid.next' | translate}}</button>
         </div>
       </form>
   </mat-step> 
  
   <!--Form6 -->
   <mat-step [stepControl]="sixthFormGroup">
     <form [formGroup]="sixthFormGroup">
       <h2>{{'adhesionForm.Form6.h2' | translate}}</h2>
       <div class="row">
         <div class="col-md-6 col-xs-12">
           <p class="seventhForm">{{'adhesionForm.Form6.t1' | translate}}</p>
         </div>
         <div class="col-md-6 col-xs-12">
           <input #fileV type="file" accept="image/*" multiple="false" (change)="onFileChange($event,'ordre_de_Virement')" />
           <error   *ngIf="isSizeLargeOR">
             {{'adhesionForm.error.msginvalid' | translate}}
           </error>
         </div>
      
         <div class=" col-md-6 col-xs-12">
           <p class="seventhForm">{{'adhesionForm.Form6.t2' | translate}}</p>
         </div>
         <div class="col-md-6 col-xs-12">
           <input #fileR type="file" accept="image/*" multiple="false"  (change)="onFileChange($event,'registre_de_Commerce')"/>
           <error   *ngIf="isSizeLargeRC">
             {{'adhesionForm.error.msginvalid' | translate}}
           </error>
         </div>
       
         <div class="col-md-6 col-xs-12">
           <p class="seventhForm">{{'adhesionForm.Form6.t3' | translate}}</p>
         </div>
         <div class="col-md-6 col-xs-12">
           <input #fileC type="file" accept="image/*" multiple="false"   (change)="onFileChange($event,'cin')"/>
           <error   *ngIf="isSizeLargeCIN">
             {{'adhesionForm.error.msginvalid' | translate}}
           </error>
         </div>
      
         <div class="col-lg-4 col-md-6 col-xs-12 row" >
           <mat-form-field class="col-md-12 col-xs-12">
             <mat-datepicker-toggle matSuffix [for]="dp3" ></mat-datepicker-toggle>
             <input matInput placeholder="{{'adhesionForm.Form6.date' | translate}}" formControlName="date_de_demande" [matDatepicker]="dp3">
             <mat-datepicker #dp3 disabled="false"></mat-datepicker>
             <mat-error *ngIf="sixthFormGroup.controls['date_de_demande'].hasError('required')">
               {{'adhesionForm.error.msgreq' | translate}}
             </mat-error>
             <mat-datepicker #picker></mat-datepicker>
           </mat-form-field>
         </div>
         <div class="col-lg-4 col-md-6 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12">
             <input matInput max="40" placeholder="{{'adhesionForm.Form6.nomOrg' | translate}}" formControlName="nom_organisme" 
                   required>
                   <mat-error *ngIf="sixthFormGroup.controls['nom_organisme'].hasError('required')">
                     {{'adhesionForm.error.msgreq' | translate}}
                   </mat-error>      
            </mat-form-field>
         </div>
         <div class="col-lg-4 col-md-6 col-xs-12 row">
           <mat-form-field class="col-md-12 col-xs-12">
             <input matInput max="30" placeholder="{{'adhesionForm.Form6.nomPr' | translate}}" formControlName="Represantant_Legal" required>
             <mat-error *ngIf="sixthFormGroup.controls['Represantant_Legal'].hasError('required')">
               {{'adhesionForm.error.msgreq' | translate}}
             </mat-error> 
           </mat-form-field>
         </div>
       </div>              
       <div class="centerForm">
         <button mat-button matStepperPrevious >{{'adhesionForm.valid.back' | translate}}</button>
         <button mat-button matStepperNext (click)="showcaptcha=true;loadcap()" [disabled]="sixthFormGroup.invalid">{{'adhesionForm.valid.submit' | translate}}</button>
       </div>
     </form>
 </mat-step>
   </mat-horizontal-stepper>
   <form [formGroup]="CaptchaFG" [hidden]="!showcaptcha || isdone">
    <div class="row">
      <div class="col">
        <div id="capref">
          <button id="refresh" (click)='clear();resetCanvas()' required> <fa-icon [icon]="reficon" ></fa-icon>{{'captcha.r' | translate}}</button>
        </div>
        <div id="cap">
          <canvas #Mycanvas id="canvas" width="350px" height="100px">   </canvas>
          </div>
        <div id="form">
          <p id="ctitle">{{'captcha.d' | translate}}</p>
         <input id="input" formControlName="captcha" type="text" maxlength="4" name="input" autocomplete="off" placeholder="{{'captcha.c' | translate}}" required>
          <button id="submitcap" value="Submit" type="submit" required>{{'captcha.b' | translate}}</button>
          
        </div>
      </div>
  </div>
  </form>
<div class="row" *ngIf="isdone">
  <div class="col-1 icn">
    <fa-icon [icon]="donne"></fa-icon>
  </div>
  <div class="col-11">
  <p>{{'carrer.msgs' | translate}}</p>
  <a routerLink="/">{{'carrer.back' | translate}}</a>
  </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(255, 255, 255, 0.9)"
  size="large"
  color="#18a0db"
  type="ball-clip-rotate-pulse">
  <p style="font-size: 20px; color: #18a0db;margin-top: 50px;">{{'load' | translate}}...</p>
</ngx-spinner>